@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #22e6f6;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23006b6b' fill-opacity='0.3' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #f8f8ff;
    font-family: 'Train One', cursive;
    /* font-weight: 400; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-container {
    width: auto;
    max-width: 900px;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: rgb(42, 42, 42);
    box-shadow: .5rem .5rem;
}

.quote-text {
    font-size: 2rem;
}

.long-quote {
    font-size: 1.5rem;
}

.fa-quote-left {
    font-size: 4rem;
}

.quote-author {
    margin-top: 15px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;

}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between  ;
}

button {
    cursor: pointer;
    font-size: 1.2rem;
    height: 2.5rem;
    border: 1px;
    border-radius: 5px;
    color: #2a2a2a;
    background-color:#22e6f6;
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(0, 0, 0, 0.65);
}

button:hover {
    background-color: #f8f8ff;
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255 0.65);
}

.twitter-button:hover {
    background-color: #38a1f3;
    color: white;
}

.fa-twitter {
    font-size: 1.5rem;
}

@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 2rem;
    }

    .quote-text {
        font-size: 1.5rem;
    }

    .long-quote {
        font-size: 1.2rem;
    }

    .fa-quote-left {
        font-size: 3rem;
    }
}